In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/BAJAJFINSV.csv')

In [3]:
df.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2012-01-02  42.540649  42.545563  41.076778  41.268360  40.812237  186103.0
1  2012-01-03  41.779240  43.031879  41.479588  42.855038  42.381378  229911.0
2  2012-01-04  42.835388  43.110477  40.723091  41.096428  40.642204  290453.0
3  2012-01-05  42.240997  42.240997  41.317482  41.317482  40.860813  246869.0
4  2012-01-06  41.263447  42.344154  41.263447  41.440289  40.982262  326373.0

In [4]:
df.drop(['Open','High','Low','Adj Close','Volume'], axis=1, inplace=True)

In [5]:
df.head()

         Date      Close
0  2012-01-02  41.268360
1  2012-01-03  42.855038
2  2012-01-04  41.096428
3  2012-01-05  41.317482
4  2012-01-06  41.440289

In [7]:
df.isnull().sum()

Date     0
Close    7
dtype: int64

In [8]:
df = df.dropna()

In [9]:
df.isnull().sum()

Date     0
Close    0
dtype: int64